<!doctype html>
<html>
<head><title>Phone Number Lookup</title></head>
<body>
    <h2>Enter a phone number</h2>
    <form method="post">
        <input type="text" name="phone_number" required>
        <input type="submit" value="Submit">
    </form>
    {% if message %}
       <!-- Reference x_mark.png from the static directory -->
       <img src="{{ url_for('static', filename='images/X.jpg') }}">
    {% endif %}
    {% if f_name %}
        <p>שם פרטי: {{ f_name }}</p>
    {% endif %}
    {% if l_name %}
        <p>שם משפחה: {{ l_name }}</p>
    {% endif %}
    {% if branch %}
        <p>עובד בענף: {{ branch }}</p>
    {% endif %}
    {% if last_checked %}
        <p>נבדק בפעם האחרונה בתאריך: {{ last_checked }}</p>
    {% endif %}
    {% if v_flag %}
    <!-- Reference check_mark.png from the static directory -->
    <img src="{{ url_for('static', filename='images/V.png') }}">
    {% endif %}
</body>
</html>
